<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>CBT Landing Page</h1>
<div>
  <form action="signup1" method ="post">
    <label for="usernameSignup">USERNAME:</label>
    <input type="text" id="usernameSignup" name="username" placeholder="Username"><br>

    <label for="passwordSignup">PASSWORD:</label>
    <input type="password" id="passwordSignup" name="password"placeholder="Password"><br><br>
    <input type="submit" value="SIGNUP">
  </form>
</div>
<div>
  <form action="login" method ="post">
    <label for="usernameLogin">USERNAME:</label>
    <input type="text" id="usernameLogin" name="username" placeholder="Username"><br>

    <label for="passwordLogin">PASSWORD:</label>
    <input type="password" id="passwordLogin" name="password" placeholder="Password"><br><br>
    <input type="submit" value="LOGIN">
  </form>
</div>

</body>
</html>