<!DOCTYPE html>
<html>
<head>
  <title>Seller Dashboard</title>

</head>
<style>
  td{
    font-weight:bold    ;
  }
</style>
<body>

<span><h1>HI</h1></span>
<span th:text="${session.username}"></span> <br>
<!--<span th:text="${session.fname}"></span><br>-->
<!--<span th:text="${session.lname}"></span><br>-->
<!--<span th:text="${session.email}"></span><br>-->
<!--<span th:text="${session.phone}"></span><br>-->
<h2>Your Profile Data</h2>
<table>
  <tr><td>First Name:</td><td><span th:text="${userdetail.fname}"></span></td></tr>
  <tr><td>Last Name:</td><td><span th:text="${userdetail.lname}"></span></td></tr>
  <tr><td>Email:</td><td><span th:text="${userdetail.email}"></span></td></tr>
  <tr><td>Phone:</td><td><span th:text="${userdetail.phone}"></span></td></tr>
</table>
</body>
</html>
<span></span>